
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />
<!DOCTYPE html>
<html>
<head>
<style>

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



a:hover, a:active {
    background-color: red;
}


</style>
</head>
<body>

<h1> Exam  </h1>
<i1>  </i1>
{% if exam_pub %}
    <ul>
    {% for exam in exam_pub %}
        <a href="{{ exam.id }}/"target="{{ exam.name }}/">{{exam.name}}</a>
    {% endfor %}
    </ul>
{% else %}
    <p>No Quiz are available.</p>

{% endif %}


</body>
</html>
